# Build outputs
target/
project/target/
project/project/

# IDE and Editor files
.idea/
.vscode/

# Scala Metals & Bloop (Language Server)
.metals/
.bsp/
.bloop/
metals.sbt

# OS files and logs
*.log
.DS_Store

*.deb
*.rpm

runtime

junk

orphera-agent
orphera-orchestrator

.orphera-state/
.orphera-logs/
.orphera-audit/
.orphera-build-logs/

pkg/
tmp/
