# Build outputs
target/
project/target/
project/project/

# IDE and Editor files
.idea/
.vscode/

# Scala Metals & Bloop (Language Server)
.metals/
.bsp/
.bloop/
metals.sbt

# OS files and logs
*.log
.DS_Store

*.deb

runtime

junk

orphera-agent
orphera-orchestrator
